<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container">
    <div>
      <a class="btn btn-primary" href="/create">+ Create</a>
    </div>
    <%- include('../partials/task-table'); %>
  </body>
</html>
