<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container">
    Welcome to Task App!
    <a class="btn btn-primary" href="/tasks">Task List</a>
  </body>
</html>
