<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <br />
  <body class="container">
    <h1>Welcome to Task App!</h1>
    <a class="btn btn-primary" href="/login">Login</a>
    <br />
  </body>
</html>
