<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container">
    <form action="/create" method="post" style="max-width: 500px">
      <div class="mb-3">
        <label for="name" class="form-label">* Nama</label>
        <input type="text" class="form-control" name="name" required />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Deskripsi</label>
        <input type="text" class="form-control" name="description" />
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">* Status</label>
        <select class="form-control" name="status">
          <option value="Todo">Todo</option>
          <option value="Doing">Doing</option>
          <option value="Done">Done</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Deadline</label>
        <input type="date" class="form-control" name="deadline" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
