<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container">
    <h1>Unauthorized 401</h1>
    <a href="/login" class="btn btn-primary">Login</a>
  </body>
</html>
